<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Item</title>
<link rel="stylesheet" th:href="@{/mycss.css}">
</head>
  <body>
      <h1>Edit Item</h1>
     <div class="form-wrapper">
        <form th:action="@{/edit}" th:object="${item}" method="post">
            <input type="hidden" th:field="*{id}">
            Name: <input type="text" th:field="*{name}" /><br><br>
            Price: <input type="number" th:field="*{price}" /><br><br>
            Category: <input type="text" th:field="*{category}" /><br><br>
            PowerLevel: <input type="number" th:field="*{powerlevel}" /><br><br>
            Material: <input type="text" th:field="*{material}" /><br><br>
            Weight: <input type="number" th:field="*{weight}" /><br><br>
            StockStatus: <input type="text" th:field="*{stockStatus}" /><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <a href="/">BACK TO HOME PAGE</a>
    <a href="/view">BACK TO VIEW PAGE </a>
</body>
</html>
