<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Ticket</title>
  <link rel="stylesheet" th:href="@{css/style2.css}">
</head>
<body>
    <header>
        <img src="images/download.jpeg" alt="Logo" class="logo">
        <h1>Add a New Ticket</h1>
        
    </header>

    <section>
        <form th:action="@{/add}" th:object="${ticket}" method="post">
           <div> 
           <tr>  
                    <th>Guest: </th>  
                    <td>  
                        <select th:field="*{guestName}">  
                            <option th:each="user : ${users}" th:text="${user.userName}" th:value="${user.userName}"></option>  
                        </select>  
                    </td>  
                </tr> 
            </div>
            
            
            <div class="form-group">
                <label for="name">Ticket Holder's Name:</label>
                <input type="text" id="ticketHolder" name="ticketHolder" required>
            </div>

            <div class="form-group">
                <label for="price">Ticket Price (in $):</label>
                <input type="number" id="ticketPrice" name="ticketPrice" step="0.01" required>
            </div>

            <div class="form-group">
                <label for="seat">Seat Number:</label>
                <input type="text" id="seatNumber" name="seatNumber" required>
            </div>


            <div class="form-group">
                <label for="Location">Event Location:</label>
                <input type="text" id="eventLocation" name="eventLocation" required>
            </div>

            <div class="form-group">
                <label for="date">Event Date:</label>
                <input type="date" id="eventDate" name="eventDate" required>
            </div>

            <div class="form-group">
                <label for="time">Event Time:</label>
                <input type="time" id="eventTime" name="eventTime" required>
            </div>

            <button type="submit">Add Ticket</button>
            
            <a th:href="@{/}">RETURN TO HOME PAGE</a><br>
			<a th:href="@{/view}">GO TO VIEW PAGE</a>
	</form>
        
    </section>

    <footer>
        <h3>About Us</h3>
        <p>Welcome to our event platform! We are dedicated to providing the best experiences for our users.</p>
        <p>Thank you for choosing us!</p>
        <p>© 2024 The Building Show| All Rights Reserved | Terms And Conditions Applied</p>
       <p>Email us: <a href="mailto:eventshow@thebuildingshow.com">eventshow@thebuildingshow.com</a></p>
    </footer>
</body>
</html>